<!DOCTYPE html>
<html>
<head>
<!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<style>
body  {
    background-image: url("images/brain.jpg");
    background-size: 100%;
}
</style>
</head>
<body>

<div style="padding-left:40%; padding-top:30%;" > 
  <a class="btn btn-default" href="/mastermind" role="button">
    <span class="glyphicon glyphicon-play"></span>
    <span >Play Mastermind</span>
  </a>
</div>

</body>
</html>

