<!doctype html>
<html ng-app="userInfo">
<head>
	<title>Login Page</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/userInfo.js"></script>
</head>
<body ng-controller="LoginCtrl">
  <form ng-submit="sendUserInfo()">
	Username:
    <input type="text" ng-model="userName"></input><br>
	Password:
    <input type="text" ng-model="passWord"></input><br>
    <button type="submit">Login</button><br>
  </form>
  <a href="/signup"> Sign Up</a>	  
</body>
</html>

